<div class="container">
    <div>
        <h1><%= problem.title %></h1>
        <p><%= problem.shortDescription %></p>
        <p><%= problem.fullExplanation %></p>
    </div>
    <div>
        <h2>Solution</h2>
        <pre><code><%= problem.solution %></code></pre>
    </div>
</div>